<h2 id="title">Detalles del Usuario</h2>

<mat-list *ngIf="user">
  <mat-accordion>
    
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos Personales:
        </mat-panel-title>
        <mat-panel-description>
          {{user?.firstName}} {{user?.lastName}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list-item *ngIf="user.secondLastName">Segundo Apellido: {{user?.secondLastName}}</mat-list-item>
      <mat-list-item *ngIf="user.gender">Género: {{user?.gender}}</mat-list-item>
      <mat-list-item *ngIf="user.birthdate">Fecha de Nacimiento: {{user?.birthdate}}</mat-list-item>
      <mat-list-item *ngIf="user.identityNumber">Número de Identidad: {{user?.identityNumber}}</mat-list-item>
      <mat-list-item *ngIf="user.medicalBoardNumber">Número de Colegiado: {{user?.medicalBoardNumber}}</mat-list-item>
      <mat-list-item *ngIf="user.nhc">Número de Historia Clínica: {{user?.nhc}}</mat-list-item>
      <mat-list-item *ngIf="user.professionalType">Tipo de Profesional: {{user?.professionalType}}</mat-list-item>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dirección:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list-item *ngIf="user.address.street">Calle: {{user?.address.street}}</mat-list-item>
      <mat-list-item *ngIf="user.address.number">Numero: {{user?.address.number}}</mat-list-item>
      <mat-list-item *ngIf="user.address.door">Piso: {{user?.address.door}}</mat-list-item>
      <mat-list-item *ngIf="user.address.city">Ciudad: {{user?.address.city}}</mat-list-item>
      <mat-list-item *ngIf="user.address.postalCode">Código Postal: {{user?.address.postalCode}}</mat-list-item>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"  *ngIf="!user?.medicalBoardNumber"> 
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aseguradoras:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel *ngFor="let i of user?.insuranceList" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i?.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>Número de Tarjeta: {{i?.cardNumber}}</mat-list-item>
        <mat-list-item>Tipo: {{i?.type}}</mat-list-item>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-accordion>
  
  <div id="options">
    <button mat-fab color="primary" routerLink='/users' ><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-fab color="primary" (click)="openDialog(user?._id)"><mat-icon>delete_forever</mat-icon></button>
    <button mat-fab color="primary" routerLink='edit' ><mat-icon>edit</mat-icon></button>
  </div>

</mat-list>
